docopt==0.6.2
isodate==0.5.4
-e git+https://github.com/lombardpress/lbppy.git@f272e44429fcbd3f19384471c9cfb3903100fb30#egg=lbppy
lxml==4.6.3
py==1.10.0
pyparsing==2.2.0
pytest==5.0.0
rdflib==4.2.2
regex==2018.8.17
samewords>=0.5.3
SPARQLWrapper==1.8.0
untangle==1.2.1
